appName: demo-python-app
replicas: 3

port: 5000
targetPort: 5000

namespace: default

image:
  name: shahgnp/demo-python-app
  tag: 1.0.5

hostName: app.rke2.localdomain
path: demo-python-app
ingressClassName: ingress-external

podSecurityContext:
  fsGroup: 1000
securityContext:
  runAsUser: 1000
  runAsNonRoot: true
  privileged: false
  readOnlyRootFilesystem: false
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]
  seccompProfile:
    type: "RuntimeDefault"
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: node-role.kubernetes.io/worker
              operator: Exists
