{{- if .Values.ingress.enabled }}
{{- range .Values.ingress.hosts }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ $.Values.app.name }}-{{ .host | replace "." "-" }}-cert
  namespace: {{ $.Release.Namespace }}
spec:
  secretName: {{ if contains "local" .host }}{{ $.Values.app.name }}-{{ .host | replace "." "-" }}-cert-tls{{ else }}{{ $.Values.app.name }}-{{ .host }}-cert-tls{{ end }}
  dnsNames:
    - {{ .host }}
  issuerRef:
    name: {{ if contains "local" .host }}selfsigned-ca-issuer{{ else if eq $.Values.app.env "prod" }}letsencrypt{{ else }}letsencrypt-staging{{ end }}
    kind: ClusterIssuer
{{- end }}
{{- end }}
