{{- if .Values.ingress.enabled }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ .Release.Name }}-cert
  labels:
    {{- include "inficare.labels" . | nindent 4 }}
  annotations:
    {{- include "inficare.annotations" . | nindent 4 }}
spec:
  secretName: {{ .Release.Name }}-cert
  issuerRef:
  {{- if eq .Values.app.env "prod" }}
    name: letsencrypt-production
  {{ else }}
    name: letsencrypt-staging
  {{- end }}
    kind: ClusterIssuer
  renewBefore: 192h # 8d
  subject:
    organizations:
      - INFICARE PVT LTD
    organizationalUnits:
      - WEB TEAM
  commonName: {{ index .Values.ingress.hosts 0 "host" }}  # Get the first host as the common name
  dnsNames:
  {{- range .Values.ingress.hosts }}  # Iterate over hosts for dnsNames
    - {{ .host }}  # Populate each host as a DNS name
  {{- end }}
{{- end }}
