---
namespace: "inficare"
repicaCount: 1

service:
  type: "ClusterIP"
  http:
    port: 80
  protocol: "TCP"


deployment:
  securityContext:
    fsGroup: 1001
  minReadySeconds: 10
  strategyType: "RollingUpdate"
  rollingUpdateMaxUnavailable: 1
  rollingUpdateMaxSurge: 2
  terminationGracePeriodSeconds: 60
  topologySpreadConstraints:
    maxSkew: 2
    topologyKey: "kubernetes.io/hostname"
    whenUnsatisfiable: "DoNotSchedule"
containers:
  ports:
    http:
      name: http
      containerPort: 80
      protocol: TCP
  resources:
    limits:
      cpu: 300m
      memory: 300Mi
    requests:
      cpu: 100m
      memory: 100Mi

image:
  repository: devhblimageregistry.azurecr.io/frontendadmin
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"
  private: true
  secretref: my-registry-secret

readinessProbe:
  type: "httpGet"
  httpGet:
    path: /
    port: http
  tcpSocket:
    port: http
  initialDelaySeconds: 10
  periodSeconds: 5
  successThreshold: 1
  timeoutSeconds: 2
  failureThreshold: 3

livenessProbe:
  type: "httpGet"
  httpGet:
    path: /
    port: http
  tcpSocket:
    port: http
  initialDelaySeconds: 10
  periodSeconds: 5
  successThreshold: 1
  timeoutSeconds: 2
  failureThreshold: 3

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  metrics:
    cpuUtilizationPercentage: 80
    memoryUtilizationPercentage: 80
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 0
      policies:
        type: Percent
        value: 100
        periodSeconds: 60
    scaleUp:
      stabilizationWindowSeconds: 0
      policies:
        type: Pods
        value: 3
        periodSeconds: 60

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations:
    {}

networkPolicy:
  enabled: true
  ingress: {}

ingress:
  enabled: true
  className: ""
  annotations:
    {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific

  whiteList:
    ips: []

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

podSecurityContext:
  enabled: false
  fsGroup: 1001
  seccompProfile:
    type: RuntimeDefault

containerSecurityContext:
  enabled: false
  runAsUser: 1001
  runAsNonRoot: true
  privileged: false
  readOnlyRootFilesystem: false
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]
  seccompProfile:
    type: "RuntimeDefault"

podAnnotations: {}

podLabels: {}

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}

app:
  name: inficare
  vault: true
  env: dev
  cert: false
