enabled: true
global:
  storageClass: longhorn
master:
  persistence:
    storageClass: longhorn
    size: 5Gi
replica:
  persistence:
    storageClass: longhorn
    size: 5Gi
auth:
  existingSecret: redis-secrets
